<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crypto Symmetric Cipher function</title>
</head>
<body>
    <form action="{% url 'crypto:symmetric_encrypt' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <label for="key_input">Enter 16 bytes key as HEX</label>
        <input type="text" name="key_input" id="key_input" value="{{ key }}"><br>
        <label for="iv_input">Enter 16 bytes IV as HEX</label>
        <input type="text" name="iv_input" id="iv_input" value="{{ iv }}"><br>
        <label for="plaintext_input">Enter your plaintext</label>
        <input type="text" name="plaintext_input" id="plaintext_input" value="{{ plaintext }}"><br>
    </fieldset>
    <input type="submit" value="Encrypt Plaintext">
    </form>
    {% if ciphertext %}
        <p><strong>{{ ciphertext }}</strong></p>
        <p>
        <form action="{% url 'crypto:symmetric_decrypt' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="key_input">Enter 16 bytes key as HEX</label>
            <input type="text" name="key_input" id="key_input" value="{{ key }}"><br>
            <label for="iv_input">Enter 16 bytes IV as HEX</label>
            <input type="text" name="iv_input" id="iv_input" value="{{ iv }}"><br>
            <label for="ciphertext_input">Enter number of bytes</label>
            <input type="text" name="ciphertext_input" id="ciphertext_input" value="{{ ciphertext }}"><br>
            <input type="hidden" name="plaintext_input" id="plaintext_input" value="{{ plaintext }}">
        </fieldset>
        <input type="submit" value="Decrypt Plaintext">
        </form>
        </p>
        {% if decipheredtext %}
            <p><strong>{{ decipheredtext }}</strong></p>
        {% endif %}
        <form action="{% url 'crypto:clear_session' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Clear Session">
        </form>
    {% endif %}
</body>
</html>